@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #10051E;
  font-family: 'Poppins', sans-serif; 
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

h3{
  font-family: 'Sarpanch', sans-serif;
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

@keyframes dots {
  0% {
      content: "";
  }
  25% {
      content: ".";
  }
  50% {
      content: "..";
  }
  75% {
      content: "...";
  }
}

.animate-blink {
  animation: blink 2s infinite;
}

.animate-dots::after {
  content: "";
  animation: dots 3s steps(4, end) infinite;
  display: inline-block;
  width: 1em;
  text-align: left;
}
